<!--继承base.html头尾-->
{% extends "base.html" %}
{% block base %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">接口测试平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Settings</a></li>
            <li><a href="/logout/">logout</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              <li>
                <a href="/project/">
                  <i class="glyphicon glyphicon-th-large"></i>&nbsp&nbsp项目管理
                </a>
              </li>
              <li>
                <a href="/module/">
                  <i class="glyphicon glyphicon-th"></i>&nbsp&nbsp模块管理
                </a>
              </li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/testcase/">用例管理</a></li>
            <li><a href="">任务管理</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">mock Server</a></li>
            <li><a href="">测试工具</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <!--模块列表-->
        {% if type == "debug" %}
          <h4 class="sub-header">postman</h4>
            <div class="input-group">
                <span class="input-group-addon">* URL</span>
                <input value="http://" id="req_url" type="text" class="form-control" PLACEHOLDER="URL">
            </div>
            <br>
            <div>
                <label>* 请求方法：</label>
                <label class="radio-inline">
                    <input type="radio" name="req_moethd" id="get" value="get" checked>GET
                </label>
                <label class="radio-inline">
                    <input type="radio" name="req_moethd" id="post" value="post" >POST
                </label>
                <label class="radio-inline">
                    <input type="radio" name="req_moethd" id="put" value="put" >PUT
                </label>
                <label class="radio-inline">
                    <input type="radio" name="req_moethd" id="delete" value="delete" >DELETE
                </label>
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">HEADER</span>
                <input value="{}" id="HEADER" type="text" class="form-control" PLACEHOLDER="HEADER">
            </div>

            <br>
            <div style="margin-top: 10px;">
                <label>* 参数类型：</label>
                <label class="radio-inline">
                    <input type="radio" name="par_type" id="from" value="from" checked>from-data
                </label>
                <label class="radio-inline">
                    <input type="radio" name="par_type" id="json" value="json">json
                </label>
            </div>

            <div class="input-group">
                <span class="input-group-addon">*参数</span>
                <input value="{}" id="parameter" type="text" class="form-control">
            </div>
            <p style="color:#8B8989">说明：以字典的方式设置参数，如：{"id":1,"name":"名称"}</p>

            <div style="float: right;margin-right:10px; margin-top: 25px;">
            <button type="button" class="btn btn-primary" onclick="sendFun()">发送</button>
            </div>

            <div style="margin-top: 30px;">
                <p>返回结果：</p>
                <textarea id="result" class="form-control" rows="10"name="textarea" ></textarea>
            </div>

            <div style="float: right;margin-right:10px; margin-top: 25px;">
            <button type="button" class="btn btn-primary" onclick="assertFun()">断言</button>
            </div>

            <div style="margin-top: 35px;">
                <label>* 断言类型：</label>
                <label class="radio-inline">
                    <input type="radio" name="assert_type" id="contains" value="contains" checked>包含
                </label>
                <label class="radio-inline">
                    <input type="radio" name="assert_type" id="mathches" value="mathches" >匹配
                </label>

            </div>

            <div style="margin-top: 10px;">
                <p>断言：</p>
                <textarea id="assert" class="form-control" rows="10"name="textarea" ></textarea>
            </div>

            <div style="margin-top: 20px;">
                <label>项目：</label>
                <select class="selectpicker" id="project_name">
                </select>

                <label>模块：</label>
                <select class="selectpicker" id="module_name">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>

                <div style="float: right;margin-right:10px; margin-top: 0px;">
                <button type="button" class="btn btn-primary" onclick="saveFun()">保存</button>
                </div>

            </div>

        {% endif %}

          </div>
        </div>
      </div>
    </div>

<script type="text/javascript">

    //调用项目初始化
    ProjectInit("project_name");

    //发送方法，获取用例页面每项参数值
    function sendFun(){
        var url = $("#req_url").val();
        var moethd = $('input[name="req_moethd"]:checked').val();
        var header = $("#HEADER").val();
        var type = $('input[name="par_type"]:checked').val();
        var parameter = $("#parameter").val();

        if(url === ""){
            window.alert("URL不能为空!");
            return;
        };

        $.post("/testcase/debug",
        {
            url: url,
            moethd: moethd,
            header: header,
            type: type,
            parameter: parameter,
        },
        function(data,status){
            alert("数据：" + data.result);
            //回写数据
            document.querySelector("#result").value = data.result;

        });


    };
    //断言方法
    function assertFun(){
        var result_text = $("#result").val();
        var assert_text = $("#assert").val();
        var assert_type = $('input[name="assert_type"]:checked').val();

        console.log("得到的结果",result_text);
        console.log("断言的结果",assert_text);

        if (result_text === "" || assert_text === "" ) {
          window.alert("断言的文本不能为空");
          return;
        }

        $.post("/testcase/assert",
        {
          result: result_text,
          assert: assert_text,
          assert_type: assert_type,
        },
        function(data,status){
          alert("提示：" + data.result);
        });

      };


</script>

{% endblock %}